<!-- layout.component.html -->
<div class="layout">
  <!-- Sidebar -->
  <aside [class.collapsed]="isCollapsed" class="sidebar">
    <div class="logo">
      <img src="assets/aethera-logo.png" alt="Aethera Logo" />
      <span *ngIf="!isCollapsed" class="logo-text" (click)="redirect('/landing')">Aethera</span>
    </div>

    <nav class="nav-links">
      <a (click)="redirect('/browse')" routerLinkActive="active">
        <i class="fas fa-gamepad"></i>
        <span *ngIf="!isCollapsed">Browse</span>
      </a>
      <a (click)="redirect('/dashboard')" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
      <a (click)="redirect('/profile/1')" routerLinkActive="active">
        <i class="fas fa-user"></i>
        <span *ngIf="!isCollapsed">Profile</span>
      </a>


    </nav>

    <div class="sidebar-footer">
      <!-- Avatar Picture -->
      <div class="profile" (click)="toggleProfileDropdown()">
        <div *ngIf="tempAvatarView()" class="avatar-setting"
          [style.background-image]="'url(' + tempAvatarView() + ')'" >
        </div>
        <div class="avatar" style="width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid rgba(0, 230, 118, 0.4);
          " *ngIf="!tempAvatarView()">
          {{ loggedEmail ? loggedEmail.split('')[0].toUpperCase() : '?' }}
        </div>

        <div *ngIf="!isCollapsed" class="profile-info">
          <span class="name">{{loggedUser}}</span>
          <small>{{role}}</small>
        </div>
      </div>
      <button class="collapse-btn" (click)="toggleSidebar()">
        <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
      </button>
    </div>
  </aside>
  <!-- Small dropdown for profile -->
  <div class="profile-dropdown" *ngIf="showProfileDropdown">
    <p><strong>{{loggedUser}}</strong></p>
    <p class="email">{{loggedEmail}}</p>
    <hr />
    <button (click)="redirect('/profile/1');toggleProfileDropdown();">
      <i class="fas fa-user"></i> View Profile
    </button>
    <button (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>


  <!-- Main content -->
  <div class="main-content">
    <header class="topbar">
      <h1>Aethera Platform</h1>
      <div class="top-actions">
        <input type="text" placeholder="Search..." />
        <button><i class="fas fa-bell"></i></button>
        <button><i class="fas fa-sign-out-alt"></i></button>
      </div>
    </header>

    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>